# Игнорировать папку node_modules
node_modules/

# Игнорировать сгенерированные файлы сборки
build/
dist/

# Игнорировать файлы среды разработки
.env
.DS_Store
.vscode/

# Игнорировать локальные настройки IDE
.idea/
*.iml

# Игнорировать временные файлы
.cache/
.tmp/

